.sci{
    background-image: url("C:\Darshan\crystal_concept\public\sci.png");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */

}
.maths{
    background-image: url("C:\Darshan\crystal_concept\public\maths.png");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */

}
